@model FinTrackPro.Models.Assets

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

@if (Model == null)
{
    <p>Portfolio Not Found</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Price)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.Name</td>
                <td>@Model.Price</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = Model.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
                </td>
            </tr>
        </tbody>
    </table>
}